.wrapper {
    padding: 0 40px;
    margin: auto;
}

/*********************
**********************
todo component SearchCar
*********************** 
***********************/

form {

}

h1 {
    font-weight: 100;
    font-size: 28px;
    margin: 5px 0 12px;
}

input {
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 15px;
    margin-bottom: 10px;
}


/*********************
**********************
todo component ViewsCar
*********************** 
***********************/
.viewsCar__wrap {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.car__list{
    width: 25%;
}

.car__list li {
    background-color: #9999FF;
    /*background-color: rgba(0,51,255, .7);*/
    position: relative;
    padding: 15px 20px;
    transition: background .4s ease;
    cursor: pointer;
}

.car__list li:hover {
    background-color: #9966FF;
}

.car__list li:after {
    content: '';
    display: block;
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #000;
}

.car__list li:last-child:after {
    display: none;
}

.active__car {
    background-color: #9966FF !important;
}

.car__image {
    text-align: center;
    width: 302px;
    height: 260px;
    overflow: hidden;
}

.car__image h2 {
    margin-bottom: 10px;
}

.car__image  img {
    width: 300px;
    height: 210px;
    border: 1px solid #660099;
    border-radius: 5px;
    transition: transform .5s ease-in;
    cursor: pointer;
}

.car__image  img:hover {
    transform: scale(1.007);
}

/*********************
**********************
todo component DetailsCar
***********************
***********************/
.car__detail {
    background: #9999FF;
    height: 260px;
    border-radius: 5px;
}

.car__detail-list {
    padding: 20px 30px;
}

.car__detail-list li {
    padding: 5px 0;
    font-weight: 100;
}

.car__detail-phone {
    opacity: 0;
    font-size: 16px;
    margin: 10px 0 25px;
    display: block;
    color: #000;
    font-weight: 100;
    text-decoration: none;
    transition: transform .4s ease;
    transform: translateX(60%);
}

.active__phone {
    transform: translateX(0);
    opacity: 1;
}

button {
    height: 40px;
    padding: 0 25px;
    font-size: 16px;
    color: #000;
    border: 1px solid #660099;
    border-radius: 5px;
    background-color: #9966FF;
    transition: all .4s ease .2s;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    color: #660099;
}

.car__detail-buttons button:first-child {

}
.car__detail-buttons button:last-child {
    margin-left: 15px;
}
