@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  overflow: hidden;
  background: #9933FF;
  /*background-color: rgba(0,102,255, .6);*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  list-style-type: none;
}

h1, h2, p, ul, li {
  padding: 0;
  margin: 0;
}